# Environment variables and secrets
.env
.env*.local
*.env

# Dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build outputs
dist/
build/
out/

# System / OS files
.DS_Store
Thumbs.db

# IDEs & Editors
.idea/
.vscode/
*.swp
*.swo

# Temporary directories
.tmp/
*.tmp

ai.txt
*.clean
*.old
*.old.utf8
*.htmlpart